<a href="https://colab.research.google.com/github/alfitra/Complete-Python-3-Bootcamp/blob/master/Modul_1_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Animal

## a.) Butterfly

### sayap

In [ ]:
# membuat kode untuk mengakses file butterfly

### antena

## b.) Cow

In [ ]:
# membuat kode untuk mengakses file cow

tempat untuk membuat :

1. Section
2. teks insight
3. menyimpan gambar
4. dll

`print("hello Wolrd")`

*<b>bisa menggunakan HTML untuk edit teks</b>*

sumber eksplorasi : W3School.com

In [ ]:
l
l
l
l
l
l
l
l

# Data Operation

## data type

running = ctrl + enter

Integer, Math Operation :

In [ ]:
a = 10
b = 5
c = a + b
d = a - b
e = a * b
f = a / b

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

10
5
15
5
50
2.0

String

In [ ]:
str1 = "HaLlo"
str1.lower()

'hallo'

In [ ]:
str1.upper()

'HALLO'

In [ ]:
str2 = "yo ya"
print(str2)
str2.replace("yo", "yi")

yo ya

'yi ya'

Boolean

In [ ]:
# Boolean
a = 5
b = 2
c = 1
print(a > b) # True
print(a == b) # False
print((a > b) and (b > c)) # True
print((a < b) and (b > c)) # False

True
False
True
False

Mengubah Tipe Data

In [ ]:
# mengubah tipe data
# mengubah tipe data dari integer ke string
a = 1
print(a)
a = str(a)

b = 123.01
b = int(b)
print(b)

1
123

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
kata1 = "Saya "
kata2 = "ingin "
kata3 = "makan"
gabungan = kata1  + kata2  + kata3
print(gabungan)

Saya ingin makan

In [ ]:
# saya mau mengatur jumlah angka di belaang koma
a = 16.57142475859
print(round(a, 2))

16.57

### List

( a, b, c )

indeks ke-0 = a
indeks ke-1 = b
indeks ke-2 = c

berlaku di list, tuple, set

In [ ]:
abjad = ("a", "b", "c")
print(abjad[0])

a

In [ ]:
print(abjad[:2])

('a', 'b')

( a , b , c )

abjad [ dari_0 : dari_1 ]

In [ ]:
print(abjad[1:3])

('b', 'c')

Tuple

In [ ]:
abjad = ("a", "b", "c", "d", "e", "f")

# mengambil data dari c sampai e
print(abjad[2:5])

# mengambil data dari c sampai terakhir
print(abjad[2:])

('c', 'd', 'e')
('c', 'd', 'e', 'f')

List

In [ ]:
abjad=["a","b","c"]
abjad = abjad.remove("b")
print(abjad)

None

In [ ]:
abjad=["a","b","c"]
abjad.remove("b")
print(abjad)

abjad = abjad.remove("c")
print(abjad)

['a', 'c']
None

In [ ]:
# metode Append = menambahkan value
abjad = ["a", "b", "c"]
abjad.append("d")
print(abjad)

['a', 'b', 'c', 'd']

Tuple

In [ ]:
# kalau semisal kita punya tuple? apakah bisa di append?
abjad = ("a", "b", "c")
abjad = list(abjad)
abjad.append("d")
print(abjad)

['a', 'b', 'c', 'd']

List

In [ ]:
# menghapus item pada list
abjad = ["a", "b", "c"]
del abjad[1]
print(abjad)

['a', 'c']

In [ ]:
abjad = ["a", "b", "c"]
abjed = abjad.remove("b")
print(abjad)

['a', 'c']

### Methods

In [ ]:
# mau mengurutkan value di list dari kecil ke besar
abjad = ["c", "b", "d", "a"]
abjad.sort()
print(abjad)

['a', 'b', 'c', 'd']

In [ ]:
# mau mengurutkan value di list dari besar ke kecil
abjad.sort(reverse=True)
print(abjad)

['d', 'c', 'b', 'a']

In [ ]:
abjad.sort(reverse=False)
print(abjad)

['a', 'b', 'c', 'd']

Set

In [ ]:
abjad = {"a", "a", "b", "b"}
print("ini adalah set : ", abjad)
abjad = list(abjad)
print("ini adalah list : ", abjad)
abjad.sort()
print(abjad)

ini adalah set :  {'b', 'a'}
ini adalah list :  ['b', 'a']
['a', 'b']

In [ ]:
# saya mau mendapatkan jumlah value dari list
abjad = ["a", "a", "b", "b"]
print(len(abjad))

4

In [ ]:
# add sama sepert append tapi di set
a = {"a", "b"}
a.add("c")
print(a)

{'b', 'a', 'c'}

In [ ]:
abjad = ["a", "a", "b", "b"]
print(abjad * 2)

['a', 'a', 'b', 'b', 'a', 'a', 'b', 'b']

## Data processing

Dictionary Data Type

In [ ]:
# membuat sebuah dictionary
data = ({
    "nama": ["John", "jane", "Adi"],
    "umur": [20, 21, 22],
    "hobi" : ["berenang", "senam", "membaca"]
})
print(data)

{'nama': ['John', 'jane', 'Adi'], 'umur': [20, 21, 22], 'hobi': ['berenang', 'senam', 'membaca']}

In [ ]:
import pandas as pd

data = pd.DataFrame({
    "nama": ["John", "jane", "Adi"],
    "umur": [20, 21, 22],
    "hobi" : ["berenang", "senam", "membaca"]
})
print(data)

   nama  umur      hobi
0  John    20  berenang
1  jane    21     senam
2   Adi    22   membaca

## Analisis Data CSV

https://raw.githubusercontent.com/krishna0604/dataset_advanced/refs/heads/main/data_customers_csv.csv

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/krishna0604/dataset_advanced/refs/heads/main/data_customers_csv.csv")

In [ ]:
df.shape

(107, 21)

Ada 107 baris dan 21 kolom

In [ ]:
df.shape[0]

107

In [ ]:
df.shape[1]

21

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   registration_id          107 non-null    object
 1   name                     107 non-null    object
 2   email                    107 non-null    object
 3   phone                    104 non-null    float64
 4   age                      106 non-null    float64
 5   income_group             107 non-null    int64
 6   active                   107 non-null    bool
 7   city                     107 non-null    object
 8   province                 107 non-null    object
 9   hobby                    102 non-null    object
 10  fav_movie                69 non-null     object
 11  website_visit_count      107 non-null    int64
 12  website_recency          107 non-null    int64
 13  website_purchase_rate    107 non-null    float64
 14  website_purchase_amount  107 non-null    int64
 15  website_cs_call_count    107 non-null    int64
 16  accept_campaign_1        107 non-null    bool
 17  accept_campaign_2        107 non-null    bool
 18  accept_campaign_3        107 non-null    bool
 19  accept_campaign_4        107 non-null    bool
 20  accept_campaign_5        107 non-null    bool
dtypes: bool(6), float64(3), int64(5), object(7)
memory usage: 13.3+ KB

In [ ]:
df.describe()

,phone,age,income_group,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count
count,1.040000e+02,106.000000,107.000000,107.000000,107.000000,107.000000,1.070000e+02,107.000000
mean,6.123076e+09,33.132075,2.803738,51.831776,20.130841,0.675794,8.322712e+05,0.663551
std,9.515607e+08,11.480895,1.216547,29.269562,18.765225,0.243338,1.713776e+06,1.132237
min,6.284456e+08,15.000000,1.000000,5.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,6.285234e+09,24.250000,2.000000,24.500000,7.500000,0.610000,1.125000e+05,0.000000
50%,6.286627e+09,33.000000,3.000000,49.000000,17.000000,0.720000,3.400000e+05,0.000000
75%,6.287881e+09,43.750000,4.000000,74.000000,25.000000,0.830000,6.265000e+05,1.000000
max,6.289633e+09,57.000000,5.000000,100.000000,93.000000,1.000000,9.500000e+06,3.000000

Insight :     

1. kelompok umur ada di rentang 15 - 57 dengan rata rata 33

In [ ]:
df.head(3)

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
0,RK20202344,Fakhrul Fandy Widyaningtias,fakhrulfandywidyaningtias@outlook.com,6.285244e+09,27.0,2,False,Tanjungpinang,Kepulauan Riau,Amateur radio,...,51,75,0.68,612000,1,True,False,True,True,False
1,RK20202345,Ferdiansyah Amalina,ferdiansyahamalina@yahoo.com,6.285245e+09,31.0,3,True,Bogor,Jawa Barat,Animation,...,88,3,0.51,51000,3,True,False,False,True,False
2,RK20202346,Ficky Rizkyananta,fickyrizkyananta@hotmail.com,6.285245e+09,15.0,1,True,Kota Administrasi Jakarta Pusat,Jakarta,Anime,...,30,19,0.69,276000,1,False,True,False,True,False

In [ ]:
df.head(15)

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
0,RK20202344,Fakhrul Fandy Widyaningtias,fakhrulfandywidyaningtias@outlook.com,6.285244e+09,27.0,2,False,Tanjungpinang,Kepulauan Riau,Amateur radio,...,51,75,0.68,612000,1,True,False,True,True,False
1,RK20202345,Ferdiansyah Amalina,ferdiansyahamalina@yahoo.com,6.285245e+09,31.0,3,True,Bogor,Jawa Barat,Animation,...,88,3,0.51,51000,3,True,False,False,True,False
2,RK20202346,Ficky Rizkyananta,fickyrizkyananta@hotmail.com,6.285245e+09,15.0,1,True,Kota Administrasi Jakarta Pusat,Jakarta,Anime,...,30,19,0.69,276000,1,False,True,False,True,False
3,RK20202347,Singgih Kharisma,singgihkharisma@hotmail.com,6.285245e+09,49.0,4,True,Metro,Lampung,Aquascaping,...,63,7,0.80,3200,3,False,True,True,True,True
4,RK20202348,Jeremiah Dinanti,jeremia@rakamin.com,6.285245e+09,25.0,2,False,Malang,Jawa Timur,Art,...,99,81,0.15,105000,2,True,True,True,True,True
5,RK20202349,Ridhwan Noerani,ridhwannoerani@hotmail.com,6.285246e+09,43.0,4,False,Kota Administrasi Jakarta Pusat,Jakarta,Astrology,...,17,82,0.41,164000,3,False,True,False,False,True
6,RK20202350,Okky Oktaviaman,okkyoktaviaman@roketmail.com,6.281906e+09,35.0,3,True,Surakarta,Jawa Tengah,Fashion design,...,5,19,0.68,68000,1,False,True,True,False,False
7,RK20202351,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,6.281907e+09,28.0,2,False,Kota Administrasi Jakarta Pusat,Jakarta,Fingerpainting,...,70,57,0.00,0,0,False,False,False,False,False
8,RK20202351,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,6.281907e+09,28.0,2,False,Kota Administrasi Jakarta Pusat,Jakarta,Fingerpainting,...,70,57,0.00,0,0,False,False,False,False,False
9,RK20202352,Dhanu Rahman,dhanurahman@gmail.com,6.281908e+09,26.0,2,False,Kota Administrasi Jakarta Selatan,Jakarta,Fingerpainting,...,18,93,0.25,175000,0,False,True,False,True,True
10,RK20202353,Bob Arisa,bobarisa@yahoo.com,6.281909e+09,40.0,4,True,Salatiga,Jawa Tengah,Manga,...,98,13,0.98,196000,0,False,True,True,True,True
11,RK20202354,Omar Afini,omarafini@gmail.com,6.281910e+09,48.0,3,True,Batam,Kepulauan Riau,Mechanics,...,100,2,0.64,576000,2,False,True,False,True,False
12,RK20202355,Sutrisno Rizal,sutrisnorizal@outlook.com,6.281911e+09,36.0,4,True,Banjarbaru,Kalimantan Selatan,Model building,...,33,15,0.70,4900000,3,True,True,False,True,False
13,RK20202356,Hilman Azalia,hilmanazalia@hotmail.com,6.281912e+09,17.0,1,False,Metro,Lampung,Music,...,66,77,0.10,7000,0,True,True,True,True,False
14,RK20202357,Lintang Bertauli,lintangbertauli@gmail.com,NaN,33.0,3,True,Tanjungpinang,Kepulauan Riau,Reading,...,30,5,0.77,693000,0,True,True,False,True,True

In [ ]:
# tail = menampilkan data n terbawah
df.tail(2)

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
105,RK20202443,Puspita Amalia,puspitaamalia@hotmail.com,6.288690e+09,27.0,2,True,Samarinda,Kalimantan Timur,Ghost hunting,...,68,13,0.68,340000,2,False,False,True,False,False
106,RK20202444,Puspita Amalia,puspitaamaliaa@gmail.com,6.281910e+09,27.0,2,True,Samarinda,Kalimantan Timur,Ghost hunting,...,58,10,0.79,632000,3,False,True,True,True,False

In [ ]:
df.tail(14)

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
93,RK20202431,Prima Hermawan,primahermawan@rocketmail.com,6.281856e+09,50.0,5,True,Singkawang,Kalimantan Barat,Ghost hunting,...,46,10,0.65,520000,0,True,False,False,False,False
94,RK20202432,Firman Reza,firmanreza@gmail.com,6.286084e+09,28.0,2,True,Batam,Kepulauan Riau,Ghost hunting,...,40,0,0.80,400000,0,False,False,True,True,False
95,RK20202433,Eva Khuadeva,evakhuadeva@rakamin.com,6.286453e+09,26.0,2,True,Samarinda,Kalimantan Timur,Parkour,...,97,5,0.68,204000,2,False,False,False,True,False
96,RK20202434,Bagus Maulana,bagusmaulana@outlook.com,6.288953e+09,54.0,3,True,Batam,Kepulauan Riau,Running,...,52,0,0.64,1280000,2,False,False,True,True,False
97,RK20202435,Citra Citata,citracitata@facebook.com,6.286801e+09,46.0,4,True,Palangkaraya,Kalimantan Tengah,Soccer,...,95,18,0.80,7200000,2,True,False,True,False,True
98,RK20202436,Yuni Bukan Sara,yunibukansara@yahoo.com,6.288426e+09,30.0,3,True,Bekasi,Jawa Barat,Swimming,...,64,25,0.53,424000,0,True,True,True,False,False
99,RK20202437,Putu Adinda,putuadinda@yahoo.com,6.288323e+09,38.0,3,True,Tasikmalaya,Jawa Barat,Taekwondo,...,23,12,0.85,850000,0,False,True,True,True,False
100,RK20202438,Nurul Latifa,nurullatifa@ymail.com,6.288888e+09,34.0,3,True,Pekalongan,Jawa Tengah,Tennis,...,61,21,0.68,5440000,0,False,False,False,True,False
101,RK20202439,Fajar Gusti,fajargusti@hotmail.com,6.283155e+09,54.0,5,True,Singkawang,Kalimantan Barat,NaN,...,76,4,0.52,52000,0,False,False,True,True,False
102,RK20202440,Amalia Azizah Putriana,amaliaazizahputriana@yahoo.com,6.283542e+09,57.0,5,True,Kota Administrasi Jakarta Barat,Jakarta,Videography,...,44,19,0.99,99000,0,True,False,False,False,True
103,RK20202441,Didin Suherdin,didinsuherdin@yahoo.com,6.281082e+09,44.0,4,True,Banjarmasin,Kalimantan Selatan,Water sports,...,81,22,0.73,2190000,0,False,True,False,True,True
104,RK20202442,Amelia Sari Putri,ameliasariputri@ymail.com,6.284594e+09,32.0,3,True,Batam,Kepulauan Riau,Zoo visiting,...,9,1,0.82,574000,1,False,False,False,True,True
105,RK20202443,Puspita Amalia,puspitaamalia@hotmail.com,6.288690e+09,27.0,2,True,Samarinda,Kalimantan Timur,Ghost hunting,...,68,13,0.68,340000,2,False,False,True,False,False
106,RK20202444,Puspita Amalia,puspitaamaliaa@gmail.com,6.281910e+09,27.0,2,True,Samarinda,Kalimantan Timur,Ghost hunting,...,58,10,0.79,632000,3,False,True,True,True,False

Operasi sum, mean, min, max

In [ ]:
# filter data
# pengen ambil hanya kolom phone, age, website_visit_count
df_filter = df[["phone", "age", "website_visit_count"]]
df_filter.head()

            phone   age  website_visit_count
35   6.284456e+08  20.0                   73
64   6.287814e+09  17.0                   98
102  6.283542e+09  57.0                   44
67   6.285341e+09  17.0                   47
80   6.285256e+09  17.0                   84

In [ ]:
df_filter.sum()

phone                  6.367999e+11
age                    3.512000e+03
website_visit_count    5.546000e+03
dtype: float64

In [ ]:
df_filter.mean()

phone                  6.123076e+09
age                    3.313208e+01
website_visit_count    5.183178e+01
dtype: float64

In [ ]:
df_filter.min()

phone                  628445557.0
age                           15.0
website_visit_count            5.0
dtype: float64

In [ ]:
df_filter.max()

phone                  6.289633e+09
age                    5.700000e+01
website_visit_count    1.000000e+02
dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   registration_id          107 non-null    object
 1   name                     107 non-null    object
 2   email                    107 non-null    object
 3   phone                    104 non-null    float64
 4   age                      106 non-null    float64
 5   income_group             107 non-null    int64
 6   active                   107 non-null    bool
 7   city                     107 non-null    object
 8   province                 107 non-null    object
 9   hobby                    102 non-null    object
 10  fav_movie                69 non-null     object
 11  website_visit_count      107 non-null    int64
 12  website_recency          107 non-null    int64
 13  website_purchase_rate    107 non-null    float64
 14  website_purchase_amount  107 non-null    int64
 15  website_cs_call_count    107 non-null    int64
 16  accept_campaign_1        107 non-null    bool
 17  accept_campaign_2        107 non-null    bool
 18  accept_campaign_3        107 non-null    bool
 19  accept_campaign_4        107 non-null    bool
 20  accept_campaign_5        107 non-null    bool
dtypes: bool(6), float64(3), int64(5), object(7)
memory usage: 13.3+ KB

In [ ]:
df_filter.dtypes

phone                  float64
age                    float64
website_visit_count      int64
dtype: object

In [ ]:
df_filter["age"] = df_filter["age"].astype(str)

<ipython-input-63-c2978d4dccd6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter["age"] = df_filter["age"].astype(str)

In [ ]:
df_filter.dtypes

phone                  float64
age                     object
website_visit_count      int64
dtype: object

In [ ]:
# dari object ke numerik
df_filter["age"] = pd.to_numeric(df_filter["age"], errors="coerce")

<ipython-input-68-393a45138828>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter["age"] = pd.to_numeric(df_filter["age"], errors="coerce")

In [ ]:
df_filter.dtypes

phone                  float64
age                    float64
website_visit_count      int64
dtype: object

In [ ]:
# menggunakan df, bukan df_filter
df["name"].head()

0    Fakhrul Fandy Widyaningtias
1            Ferdiansyah Amalina
2              Ficky Rizkyananta
3               Singgih Kharisma
4               Jeremiah Dinanti
Name: name, dtype: object

In [ ]:
df["name"] = df["name"].str.lower()
df["name"].head()

35           alfin chairunisa
64              amadea octaza
102    amalia azizah putriana
67       amalia widi abelardo
80               amanda idayu
Name: name, dtype: object

In [ ]:
df["name"]

0      Fakhrul Fandy Widyaningtias
1              Ferdiansyah Amalina
2                Ficky Rizkyananta
3                 Singgih Kharisma
4                 Jeremiah Dinanti
                  ...
102         Amalia Azizah Putriana
103                 Didin Suherdin
104              Amelia Sari Putri
105                 Puspita Amalia
106                 Puspita Amalia
Name: name, Length: 107, dtype: object

In [ ]:
df["name"] = df["name"].str.upper()
df["name"].head()

0    FAKHRUL FANDY WIDYANINGTIAS
1            FERDIANSYAH AMALINA
2              FICKY RIZKYANANTA
3               SINGGIH KHARISMA
4               JEREMIAH DINANTI
Name: name, dtype: object

### Filtering Column

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   registration_id          107 non-null    object
 1   name                     107 non-null    object
 2   email                    107 non-null    object
 3   phone                    104 non-null    float64
 4   age                      106 non-null    float64
 5   income_group             107 non-null    int64
 6   active                   107 non-null    bool
 7   city                     107 non-null    object
 8   province                 107 non-null    object
 9   hobby                    102 non-null    object
 10  fav_movie                69 non-null     object
 11  website_visit_count      107 non-null    int64
 12  website_recency          107 non-null    int64
 13  website_purchase_rate    107 non-null    float64
 14  website_purchase_amount  107 non-null    int64
 15  website_cs_call_count    107 non-null    int64
 16  accept_campaign_1        107 non-null    bool
 17  accept_campaign_2        107 non-null    bool
 18  accept_campaign_3        107 non-null    bool
 19  accept_campaign_4        107 non-null    bool
 20  accept_campaign_5        107 non-null    bool
dtypes: bool(6), float64(3), int64(5), object(7)
memory usage: 13.3+ KB

In [ ]:
df["age"]

0      27.0
1      31.0
2      15.0
3      49.0
4      25.0
       ...
102    57.0
103    44.0
104    32.0
105    27.0
106    27.0
Name: age, Length: 107, dtype: float64

In [ ]:
df[["name", "age"]]

                            name   age
0    FAKHRUL FANDY WIDYANINGTIAS  27.0
1            FERDIANSYAH AMALINA  31.0
2              FICKY RIZKYANANTA  15.0
3               SINGGIH KHARISMA  49.0
4               JEREMIAH DINANTI  25.0
..                           ...   ...
102       AMALIA AZIZAH PUTRIANA  57.0
103               DIDIN SUHERDIN  44.0
104            AMELIA SARI PUTRI  32.0
105               PUSPITA AMALIA  27.0
106               PUSPITA AMALIA  27.0

[107 rows x 2 columns]

In [ ]:
df[df["age"]==20]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
35,RK20202378,ALFIN CHAIRUNISA,alfinchairunisa@gmail.com,6.284456e+08,20.0,2,True,Bontang,Kalimantan Timur,Music,...,73,6,0.83,332000,0,True,True,True,True,True
46,RK20202387,LUKMAN NAUFAL SIMORANGKIR,lukmannaufalsimorangkir@gmail.com,6.287890e+09,20.0,2,True,Kota Administrasi Jakarta Utara,Jakarta,Climbing,...,44,16,0.90,180000,0,True,True,True,True,True

In [ ]:
df[df["name"]=="ALFIN CHAIRUNISA"]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
35,RK20202378,ALFIN CHAIRUNISA,alfinchairunisa@gmail.com,628445557.0,20.0,2,True,Bontang,Kalimantan Timur,Music,...,73,6,0.83,332000,0,True,True,True,True,True

Multiple Filtering

In [ ]:
df[(df["age"].isin([20, 21]))]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
35,RK20202378,ALFIN CHAIRUNISA,alfinchairunisa@gmail.com,6.284456e+08,20.0,2,True,Bontang,Kalimantan Timur,Music,...,73,6,0.83,332000,0,True,True,True,True,True
36,RK20202379,REVI ASWIN FATIMAH,reviaswinfatimah@roketmail.com,6.287858e+09,21.0,2,True,Depok,Jawa Barat,Reading,...,45,13,0.53,265000,0,True,True,True,True,False
46,RK20202387,LUKMAN NAUFAL SIMORANGKIR,lukmannaufalsimorangkir@gmail.com,6.287890e+09,20.0,2,True,Kota Administrasi Jakarta Utara,Jakarta,Climbing,...,44,16,0.90,180000,0,True,True,True,True,True
57,RK20202397,ANINDYANTI BAYHACKI,anindyantibayhacki@yahoo.com,6.287860e+09,21.0,2,True,Cimahi,Jawa Barat,Basketball,...,96,30,0.55,4950000,1,False,True,True,False,True

Multi Column

In [ ]:
df[(df["age"]==35) & (df["income_group"] == 3)]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
6,RK20202350,OKKY OKTAVIAMAN,okkyoktaviaman@roketmail.com,6.281906e+09,35.0,3,True,Surakarta,Jawa Tengah,Fashion design,...,5,19,0.68,68000,1,False,True,True,False,False
65,RK20202405,AUZY NARENDRA,auzynarendra@outlook.com,6.287807e+09,35.0,3,True,Balikpapan,Kalimantan Timur,Kitesurfing,...,22,15,0.94,376000,0,True,True,True,False,True
69,RK20202409,CLARA AMIRA,claraamira@hotmail.com,6.285328e+09,35.0,3,True,Banjarbaru,Kalimantan Selatan,NaN,...,15,0,0.70,490000,0,True,True,False,False,False

Pattern based filtering

In [ ]:
df[(df["name"].str.contains("AYU"))]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
80,RK20202420,AMANDA IDAYU,amandaidayu@yahoo.com,6.285256e+09,17.0,1,True,Batu,Jawa Timur,Parkour,...,84,16,1.00,600000,0,True,False,True,False,False
86,RK20202426,RARAHAYU VEREV,rarahayuverev@outlook.com,6.285216e+09,15.0,1,True,Tegal,Jawa Tengah,Vacation,...,60,25,0.72,648000,0,True,True,True,False,True

In [ ]:
df[(df["phone"].astype(str).str.contains("^62878"))]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
25,RK20202368,SAKTI HASANIY,saktihasaniy@outlook.com,6.287833e+09,31.0,3,True,Bontang,Kalimantan Timur,Storytelling,...,92,15,0.65,260000,0,False,False,False,False,False
26,RK20202369,RIAN MUFTI,rianmufti@outlook.com,6.287833e+09,24.0,2,True,Pontianak,Kalimantan Barat,Writing,...,20,16,0.50,50000,1,True,True,False,False,True
27,RK20202370,DONI TEDDO PRASETYANI,doniteddoprasetyani@yahoo.com,6.287833e+09,30.0,3,True,Batam,Kepulauan Riau,Yoga,...,79,30,0.61,305000,3,True,False,False,False,False
28,RK20202371,FAHMI HAQ,fahmi@yahoo.com,6.287833e+09,17.0,1,True,Depok,Jawa Barat,Fashion design,...,76,12,0.89,623000,3,True,False,False,False,False
29,RK20202372,RHEZA NOVIANTI,rhezanovianti@yahoo.com,6.287834e+09,26.0,1,True,Tegal,Jawa Tengah,NaN,...,76,30,0.97,485000,0,True,True,True,True,False
30,RK20202373,HERDARU JUNAIDI,herdarujunaidi@outlook.com,6.287834e+09,50.0,5,True,Sukabumi,Jawa Barat,Gardening,...,61,1,0.67,13400,3,True,True,False,True,False
32,RK20202375,SEBASTIAN MITSUKO,sebastianmitsuko@roketmail.com,6.287834e+09,44.0,4,True,Bandar Lampung,Lampung,Manga,...,20,17,0.54,378000,0,False,True,False,True,False
33,RK20202376,RINALDY OCTAZA,rinaldyoctaza@outlook.com,6.287835e+09,35.0,4,True,Malang,Jawa Timur,Mechanics,...,43,26,0.95,9500000,0,False,False,True,False,True
34,RK20202377,ISMAIL WARDHANI,ismailwardhani@hotmail.com,6.287835e+09,18.0,1,True,Bandung,Jawa Barat,Model building,...,6,19,0.92,828000,0,False,False,True,False,False
36,RK20202379,REVI ASWIN FATIMAH,reviaswinfatimah@roketmail.com,6.287858e+09,21.0,2,True,Depok,Jawa Barat,Reading,...,45,13,0.53,265000,0,True,True,True,True,False
37,RK20202380,FAISHAL LISTISNI,faishallistisni@outlook.com,6.287858e+09,23.0,2,True,Batam,Kepulauan Riau,Singing,...,74,3,0.74,296000,2,True,True,True,False,True
40,RK20202382,IZHAR HALIM,izharhalim@gmail.com,6.287881e+09,32.0,3,True,Kota Administrasi Jakarta Selatan,Jakarta,Astronomy,...,36,14,0.77,77000,3,True,False,False,True,True
41,RK20202383,GARIN SUGIYANTO,garinsugiyanto@yahoo.com,6.287881e+09,33.0,3,True,Purwokerto,Jawa Tengah,Badminton,...,21,18,0.67,134000,3,False,False,False,False,False
42,RK20202383,GARIN SUGIYANTO,garinsugiyanto@yahoo.com,6.287881e+09,33.0,3,True,Purwokerto,Jawa Tengah,Badminton,...,21,18,0.67,134000,3,False,False,False,False,False
43,RK20202384,EDY FITRIYAH,edyfitriyah@roketmail.com,6.287884e+09,19.0,1,True,Salatiga,Jawa Tengah,Baseball,...,38,26,0.94,470000,0,True,True,True,False,False
44,RK20202385,GERALDI LALO,geraldilalo@hotmail.com,6.287886e+09,50.0,5,True,Tarakan,Kalimantan Utara,Basketball,...,41,30,0.61,122000,3,False,False,True,False,False
45,RK20202386,YUSUF TILASNUARI,yusuftilasnuari@hotmail.com,6.287888e+09,31.0,3,True,Malang,Jawa Timur,Camping,...,33,30,0.98,98000,0,False,True,False,True,False
46,RK20202387,LUKMAN NAUFAL SIMORANGKIR,lukmannaufalsimorangkir@gmail.com,6.287890e+09,20.0,2,True,Kota Administrasi Jakarta Utara,Jakarta,Climbing,...,44,16,0.90,180000,0,True,True,True,True,True
47,RK20202388,MARUTO ASIH,marutoasih@yahoo.com,6.287893e+09,47.0,3,True,Tanjungpinang,Kepulauan Riau,Driving,...,62,24,0.78,78000,0,True,False,False,False,False
48,RK20202389,AZRUL SATRIA,azrulsatria@yahoo.com,6.287895e+09,27.0,1,True,Blitar,Jawa Timur,Farming,...,74,21,0.52,1040000,0,False,False,False,False,False
49,RK20202390,ANTON FIKRI,antonfikri@hotmail.com,6.287897e+09,38.0,2,True,Blitar,Jawa Timur,Fishing,...,69,22,0.83,6640000,0,True,False,False,True,False
50,RK20202391,ANUGRAH SASTRA,anugrahsastra@outlook.com,6.287899e+09,35.0,2,True,Cirebon,Jawa Barat,Ghost hunting,...,14,1,0.66,462000,0,True,False,False,True,True
51,RK20202392,SIGIT AMALIA,sigitamalia@roketmail.com,6.287893e+09,48.0,4,True,Madiun,Jawa Timur,Air sports,...,100,6,0.75,450000,0,False,False,False,False,False
52,RK20202392,SIGIT AMALIA,sigitamalia@roketmail.com,6.287893e+09,48.0,4,True,Madiun,Jawa Timur,Air sports,...,100,6,0.75,450000,0,False,False,False,False,False
53,RK20202393,RIZKI FAISHAL APRIYANI,rizkifaishalapriyani@roketmail.com,6.287886e+09,42.0,4,True,Kediri,Jawa Timur,Astronomy,...,58,6,1.00,1000000,0,False,True,True,True,False
54,RK20202394,ATHIRAH ATSILA,athirahatsila@yahoo.com,6.287880e+09,47.0,4,True,Banjarbaru,Kalimantan Selatan,Backpacking,...,94,2,0.91,819000,1,True,True,True,True,False
55,RK20202395,INDAH KHAIRUNISA,indahkhairunisa@roketmail.com,6.287873e+09,40.0,4,True,Salatiga,Jawa Tengah,Badminton,...,24,25,0.82,246000,0,True,False,True,False,False
56,RK20202396,DELA HARKART,delaharkart@outlook.com,6.287867e+09,39.0,3,True,Bogor,Jawa Barat,Baseball,...,97,27,0.97,485000,3,True,False,False,True,True
57,RK20202397,ANINDYANTI BAYHACKI,anindyantibayhacki@yahoo.com,6.287860e+09,21.0,2,True,Cimahi,Jawa Barat,Basketball,...,96,30,0.55,4950000,1,False,True,True,False,True
58,RK20202398,ANASTASIA PRIMANELZA,anastasiaprimanelza@roketmail.com,6.287853e+09,40.0,4,True,Tasikmalaya,Jawa Barat,Camping,...,99,6,0.83,166000,0,True,True,True,False,True
59,RK20202399,ANNA USRA,annausra@roketmail.com,6.287847e+09,42.0,4,True,Kediri,Jawa Timur,Climbing,...,33,14,0.00,0,0,False,False,False,True,True
60,RK20202400,RIANITA SANTI,rianitasanti@yahoo.com,6.287840e+09,15.0,1,True,Pontianak,Kalimantan Barat,Driving,...,43,24,0.77,77000,3,False,True,False,False,True
61,RK20202401,NADIA PERSADANI,nadiapersadani@roketmail.com,6.287834e+09,25.0,2,True,Surabaya,Jawa Timur,Farming,...,18,27,0.82,738000,0,False,True,False,True,True
62,RK20202402,RAYHANA HIDAYATUL,rayhanahidayatul@hotmail.com,6.287827e+09,25.0,2,True,Palangkaraya,Kalimantan Tengah,Fishing,...,94,25,0.88,704000,0,False,False,True,True,True
63,RK20202403,HANIFA IVANGKIA,hanifaivangkia@gmail.com,6.287821e+09,47.0,4,True,Surabaya,Jawa Timur,Ghost hunting,...,68,8,0.85,6800000,0,True,True,True,False,False
64,RK20202404,AMADEA OCTAZA,amadeaoctaza@roketmail.com,6.287814e+09,17.0,1,True,Cirebon,Jawa Barat,Hunting,...,98,1,0.76,760000,0,False,False,True,False,False
65,RK20202405,AUZY NARENDRA,auzynarendra@outlook.com,6.287807e+09,35.0,3,True,Balikpapan,Kalimantan Timur,Kitesurfing,...,22,15,0.94,376000,0,True,True,True,False,True

In [ ]:
# dimulai dengan akhiran
df[(df["name"].str.contains("AYU$"))]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
80,RK20202420,AMANDA IDAYU,amandaidayu@yahoo.com,6.285256e+09,17.0,1,True,Batu,Jawa Timur,Parkour,...,84,16,1.0,600000,0,True,False,True,False,False

In [ ]:
# membuat sebuah dictionary
data = ({
    "nama": ["John", "jane", "Adi"],
    "umur": [20, 21, 22],
    "hobi" : ["berenang", "senam", "membaca"]
})
print(data)

{'nama': ['John', 'jane', 'Adi'], 'umur': [20, 21, 22], 'hobi': ['berenang', 'senam', 'membaca']}

In [ ]:
# menambah kolom ukuran sepatu
data_new = [40, 35, 41]
data["ukuran_sepatu"] = data_new
data

{'nama': ['John', 'jane', 'Adi'],
 'umur': [20, 21, 22],
 'hobi': ['berenang', 'senam', 'membaca'],
 'ukuran_sepatu': [40, 35, 41]}

In [ ]:
data = pd.DataFrame(data)
data

   nama  umur      hobi  ukuran_sepatu
0  John    20  berenang             40
1  jane    21     senam             35
2   Adi    22   membaca             41

### Drop Columns

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   registration_id          107 non-null    object
 1   name                     107 non-null    object
 2   email                    107 non-null    object
 3   phone                    104 non-null    float64
 4   age                      106 non-null    float64
 5   income_group             107 non-null    int64
 6   active                   107 non-null    bool
 7   city                     107 non-null    object
 8   province                 107 non-null    object
 9   hobby                    102 non-null    object
 10  fav_movie                69 non-null     object
 11  website_visit_count      107 non-null    int64
 12  website_recency          107 non-null    int64
 13  website_purchase_rate    107 non-null    float64
 14  website_purchase_amount  107 non-null    int64
 15  website_cs_call_count    107 non-null    int64
 16  accept_campaign_1        107 non-null    bool
 17  accept_campaign_2        107 non-null    bool
 18  accept_campaign_3        107 non-null    bool
 19  accept_campaign_4        107 non-null    bool
 20  accept_campaign_5        107 non-null    bool
dtypes: bool(6), float64(3), int64(5), object(7)
memory usage: 13.3+ KB

Drop Column

In [ ]:
df = df.drop("name", axis = 1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   registration_id          107 non-null    object
 1   email                    107 non-null    object
 2   phone                    104 non-null    float64
 3   age                      106 non-null    float64
 4   income_group             107 non-null    int64
 5   active                   107 non-null    bool
 6   city                     107 non-null    object
 7   province                 107 non-null    object
 8   hobby                    102 non-null    object
 9   fav_movie                69 non-null     object
 10  website_visit_count      107 non-null    int64
 11  website_recency          107 non-null    int64
 12  website_purchase_rate    107 non-null    float64
 13  website_purchase_amount  107 non-null    int64
 14  website_cs_call_count    107 non-null    int64
 15  accept_campaign_1        107 non-null    bool
 16  accept_campaign_2        107 non-null    bool
 17  accept_campaign_3        107 non-null    bool
 18  accept_campaign_4        107 non-null    bool
 19  accept_campaign_5        107 non-null    bool
dtypes: bool(6), float64(3), int64(5), object(6)
memory usage: 12.5+ KB

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/krishna0604/dataset_advanced/refs/heads/main/data_customers_csv.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   registration_id          107 non-null    object
 1   name                     107 non-null    object
 2   email                    107 non-null    object
 3   phone                    104 non-null    float64
 4   age                      106 non-null    float64
 5   income_group             107 non-null    int64
 6   active                   107 non-null    bool
 7   city                     107 non-null    object
 8   province                 107 non-null    object
 9   hobby                    102 non-null    object
 10  fav_movie                69 non-null     object
 11  website_visit_count      107 non-null    int64
 12  website_recency          107 non-null    int64
 13  website_purchase_rate    107 non-null    float64
 14  website_purchase_amount  107 non-null    int64
 15  website_cs_call_count    107 non-null    int64
 16  accept_campaign_1        107 non-null    bool
 17  accept_campaign_2        107 non-null    bool
 18  accept_campaign_3        107 non-null    bool
 19  accept_campaign_4        107 non-null    bool
 20  accept_campaign_5        107 non-null    bool
dtypes: bool(6), float64(3), int64(5), object(7)
memory usage: 13.3+ KB

### Duplicated Columns

In [ ]:
df[df["name"]=="Dikposa Yosua Krisnanto"]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
7,RK20202351,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,6.281907e+09,28.0,2,False,Kota Administrasi Jakarta Pusat,Jakarta,Fingerpainting,...,70,57,0.0,0,0,False,False,False,False,False
8,RK20202351,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,6.281907e+09,28.0,2,False,Kota Administrasi Jakarta Pusat,Jakarta,Fingerpainting,...,70,57,0.0,0,0,False,False,False,False,False

In [ ]:
df[df.duplicated(keep = False) == True]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
7,RK20202351,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,6.281907e+09,28.0,2,False,Kota Administrasi Jakarta Pusat,Jakarta,Fingerpainting,...,70,57,0.00,0,0,False,False,False,False,False
8,RK20202351,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,6.281907e+09,28.0,2,False,Kota Administrasi Jakarta Pusat,Jakarta,Fingerpainting,...,70,57,0.00,0,0,False,False,False,False,False
38,RK20202381,Jova Imania,jovaimania@gmail.com,6.284688e+08,17.0,1,True,Depok,Jawa Barat,Air sports,...,25,12,0.89,534000,0,True,True,True,True,True
39,RK20202381,Jova Imania,jovaimania@gmail.com,6.284688e+08,17.0,1,True,Depok,Jawa Barat,Air sports,...,25,12,0.89,534000,0,True,True,True,True,True
41,RK20202383,Garin Sugiyanto,garinsugiyanto@yahoo.com,6.287881e+09,33.0,3,True,Purwokerto,Jawa Tengah,Badminton,...,21,18,0.67,134000,3,False,False,False,False,False
42,RK20202383,Garin Sugiyanto,garinsugiyanto@yahoo.com,6.287881e+09,33.0,3,True,Purwokerto,Jawa Tengah,Badminton,...,21,18,0.67,134000,3,False,False,False,False,False
51,RK20202392,Sigit Amalia,sigitamalia@roketmail.com,6.287893e+09,48.0,4,True,Madiun,Jawa Timur,Air sports,...,100,6,0.75,450000,0,False,False,False,False,False
52,RK20202392,Sigit Amalia,sigitamalia@roketmail.com,6.287893e+09,48.0,4,True,Madiun,Jawa Timur,Air sports,...,100,6,0.75,450000,0,False,False,False,False,False
91,RK20202431,Prima Hermawan,primahermawan@rocketmail.com,6.281856e+09,50.0,5,True,Singkawang,Kalimantan Barat,Ghost hunting,...,46,10,0.65,520000,0,True,False,False,False,False
92,RK20202431,Prima Hermawan,primahermawan@rocketmail.com,6.281856e+09,50.0,5,True,Singkawang,Kalimantan Barat,Ghost hunting,...,46,10,0.65,520000,0,True,False,False,False,False
93,RK20202431,Prima Hermawan,primahermawan@rocketmail.com,6.281856e+09,50.0,5,True,Singkawang,Kalimantan Barat,Ghost hunting,...,46,10,0.65,520000,0,True,False,False,False,False

In [ ]:
df[df.duplicated(keep = "first") == True]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
8,RK20202351,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,6.281907e+09,28.0,2,False,Kota Administrasi Jakarta Pusat,Jakarta,Fingerpainting,...,70,57,0.00,0,0,False,False,False,False,False
39,RK20202381,Jova Imania,jovaimania@gmail.com,6.284688e+08,17.0,1,True,Depok,Jawa Barat,Air sports,...,25,12,0.89,534000,0,True,True,True,True,True
42,RK20202383,Garin Sugiyanto,garinsugiyanto@yahoo.com,6.287881e+09,33.0,3,True,Purwokerto,Jawa Tengah,Badminton,...,21,18,0.67,134000,3,False,False,False,False,False
52,RK20202392,Sigit Amalia,sigitamalia@roketmail.com,6.287893e+09,48.0,4,True,Madiun,Jawa Timur,Air sports,...,100,6,0.75,450000,0,False,False,False,False,False
92,RK20202431,Prima Hermawan,primahermawan@rocketmail.com,6.281856e+09,50.0,5,True,Singkawang,Kalimantan Barat,Ghost hunting,...,46,10,0.65,520000,0,True,False,False,False,False
93,RK20202431,Prima Hermawan,primahermawan@rocketmail.com,6.281856e+09,50.0,5,True,Singkawang,Kalimantan Barat,Ghost hunting,...,46,10,0.65,520000,0,True,False,False,False,False

In [ ]:
df[df.duplicated(keep = True) == True]

ValueError: keep must be either "first", "last" or False

In [ ]:
df.duplicated().any()

True

### Mengurutkan Data Frame

In [ ]:
df.head()

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
0,RK20202344,Fakhrul Fandy Widyaningtias,fakhrulfandywidyaningtias@outlook.com,6.285244e+09,27.0,2,False,Tanjungpinang,Kepulauan Riau,Amateur radio,...,51,75,0.68,612000,1,True,False,True,True,False
1,RK20202345,Ferdiansyah Amalina,ferdiansyahamalina@yahoo.com,6.285245e+09,31.0,3,True,Bogor,Jawa Barat,Animation,...,88,3,0.51,51000,3,True,False,False,True,False
2,RK20202346,Ficky Rizkyananta,fickyrizkyananta@hotmail.com,6.285245e+09,15.0,1,True,Kota Administrasi Jakarta Pusat,Jakarta,Anime,...,30,19,0.69,276000,1,False,True,False,True,False
3,RK20202347,Singgih Kharisma,singgihkharisma@hotmail.com,6.285245e+09,49.0,4,True,Metro,Lampung,Aquascaping,...,63,7,0.80,3200,3,False,True,True,True,True
4,RK20202348,Jeremiah Dinanti,jeremia@rakamin.com,6.285245e+09,25.0,2,False,Malang,Jawa Timur,Art,...,99,81,0.15,105000,2,True,True,True,True,True

In [ ]:
df.sort_values(by = "age")

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
2,RK20202346,Ficky Rizkyananta,fickyrizkyananta@hotmail.com,6.285245e+09,15.0,1,True,Kota Administrasi Jakarta Pusat,Jakarta,Anime,...,30,19,0.69,276000,1,False,True,False,True,False
70,RK20202410,Hilary Adha,hilaryadha@yahoo.com,6.285321e+09,15.0,1,True,Bogor,Jawa Barat,Swimming,...,42,8,0.00,0,0,True,False,False,False,True
86,RK20202426,Rarahayu Verev,rarahayuverev@outlook.com,6.285216e+09,15.0,1,True,Tegal,Jawa Tengah,Vacation,...,60,25,0.72,648000,0,True,True,True,False,True
81,RK20202421,Ovienov Asti Idrus,ovienovastiidrus@outlook.com,6.285249e+09,15.0,1,True,Bontang,Kalimantan Timur,Running,...,11,12,0.65,325000,0,True,True,False,True,True
60,RK20202400,Rianita Santi,rianitasanti@yahoo.com,6.287840e+09,15.0,1,True,Pontianak,Kalimantan Barat,Driving,...,43,24,0.77,77000,3,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,RK20202431,Prima Hermawan,primahermawan@rocketmail.com,6.281856e+09,50.0,5,True,Singkawang,Kalimantan Barat,Ghost hunting,...,46,10,0.65,520000,0,True,False,False,False,False
96,RK20202434,Bagus Maulana,bagusmaulana@outlook.com,6.288953e+09,54.0,3,True,Batam,Kepulauan Riau,Running,...,52,0,0.64,1280000,2,False,False,True,True,False
101,RK20202439,Fajar Gusti,fajargusti@hotmail.com,6.283155e+09,54.0,5,True,Singkawang,Kalimantan Barat,NaN,...,76,4,0.52,52000,0,False,False,True,True,False
102,RK20202440,Amalia Azizah Putriana,amaliaazizahputriana@yahoo.com,6.283542e+09,57.0,5,True,Kota Administrasi Jakarta Barat,Jakarta,Videography,...,44,19,0.99,99000,0,True,False,False,False,True
31,RK20202374,Eka Tiodimar,ekatio@yahoo.com,NaN,NaN,5,True,Kota Administrasi Jakarta Utara,Jakarta,Magic,...,85,27,0.00,0,0,True,True,True,True,True

Dari besar ke kecil

In [ ]:
df.sort_values(by = "age", ascending = False)

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
102,RK20202440,Amalia Azizah Putriana,amaliaazizahputriana@yahoo.com,6.283542e+09,57.0,5,True,Kota Administrasi Jakarta Barat,Jakarta,Videography,...,44,19,0.99,99000,0,True,False,False,False,True
101,RK20202439,Fajar Gusti,fajargusti@hotmail.com,6.283155e+09,54.0,5,True,Singkawang,Kalimantan Barat,NaN,...,76,4,0.52,52000,0,False,False,True,True,False
96,RK20202434,Bagus Maulana,bagusmaulana@outlook.com,6.288953e+09,54.0,3,True,Batam,Kepulauan Riau,Running,...,52,0,0.64,1280000,2,False,False,True,True,False
91,RK20202431,Prima Hermawan,primahermawan@rocketmail.com,6.281856e+09,50.0,5,True,Singkawang,Kalimantan Barat,Ghost hunting,...,46,10,0.65,520000,0,True,False,False,False,False
30,RK20202373,Herdaru Junaidi,herdarujunaidi@outlook.com,6.287834e+09,50.0,5,True,Sukabumi,Jawa Barat,Gardening,...,61,1,0.67,13400,3,True,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,RK20202400,Rianita Santi,rianitasanti@yahoo.com,6.287840e+09,15.0,1,True,Pontianak,Kalimantan Barat,Driving,...,43,24,0.77,77000,3,False,True,False,False,True
81,RK20202421,Ovienov Asti Idrus,ovienovastiidrus@outlook.com,6.285249e+09,15.0,1,True,Bontang,Kalimantan Timur,Running,...,11,12,0.65,325000,0,True,True,False,True,True
2,RK20202346,Ficky Rizkyananta,fickyrizkyananta@hotmail.com,6.285245e+09,15.0,1,True,Kota Administrasi Jakarta Pusat,Jakarta,Anime,...,30,19,0.69,276000,1,False,True,False,True,False
70,RK20202410,Hilary Adha,hilaryadha@yahoo.com,6.285321e+09,15.0,1,True,Bogor,Jawa Barat,Swimming,...,42,8,0.00,0,0,True,False,False,False,True
31,RK20202374,Eka Tiodimar,ekatio@yahoo.com,NaN,NaN,5,True,Kota Administrasi Jakarta Utara,Jakarta,Magic,...,85,27,0.00,0,0,True,True,True,True,True

In [ ]:
df.sort_values(["name", "age"], inplace = True, ascending = True)

### Checking Null Values

In [ ]:
df[df["age"].isnull()]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
31,RK20202374,Eka Tiodimar,ekatio@yahoo.com,NaN,NaN,5,True,Kota Administrasi Jakarta Utara,Jakarta,Magic,...,85,27,0.0,0,0,True,True,True,True,True

In [ ]:
df[df["age"].notnull()]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
0,RK20202344,Fakhrul Fandy Widyaningtias,fakhrulfandywidyaningtias@outlook.com,6.285244e+09,27.0,2,False,Tanjungpinang,Kepulauan Riau,Amateur radio,...,51,75,0.68,612000,1,True,False,True,True,False
1,RK20202345,Ferdiansyah Amalina,ferdiansyahamalina@yahoo.com,6.285245e+09,31.0,3,True,Bogor,Jawa Barat,Animation,...,88,3,0.51,51000,3,True,False,False,True,False
2,RK20202346,Ficky Rizkyananta,fickyrizkyananta@hotmail.com,6.285245e+09,15.0,1,True,Kota Administrasi Jakarta Pusat,Jakarta,Anime,...,30,19,0.69,276000,1,False,True,False,True,False
3,RK20202347,Singgih Kharisma,singgihkharisma@hotmail.com,6.285245e+09,49.0,4,True,Metro,Lampung,Aquascaping,...,63,7,0.80,3200,3,False,True,True,True,True
4,RK20202348,Jeremiah Dinanti,jeremia@rakamin.com,6.285245e+09,25.0,2,False,Malang,Jawa Timur,Art,...,99,81,0.15,105000,2,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,RK20202440,Amalia Azizah Putriana,amaliaazizahputriana@yahoo.com,6.283542e+09,57.0,5,True,Kota Administrasi Jakarta Barat,Jakarta,Videography,...,44,19,0.99,99000,0,True,False,False,False,True
103,RK20202441,Didin Suherdin,didinsuherdin@yahoo.com,6.281082e+09,44.0,4,True,Banjarmasin,Kalimantan Selatan,Water sports,...,81,22,0.73,2190000,0,False,True,False,True,True
104,RK20202442,Amelia Sari Putri,ameliasariputri@ymail.com,6.284594e+09,32.0,3,True,Batam,Kepulauan Riau,Zoo visiting,...,9,1,0.82,574000,1,False,False,False,True,True
105,RK20202443,Puspita Amalia,puspitaamalia@hotmail.com,6.288690e+09,27.0,2,True,Samarinda,Kalimantan Timur,Ghost hunting,...,68,13,0.68,340000,2,False,False,True,False,False
106,RK20202444,Puspita Amalia,puspitaamaliaa@gmail.com,6.281910e+09,27.0,2,True,Samarinda,Kalimantan Timur,Ghost hunting,...,58,10,0.79,632000,3,False,True,True,True,False

# Export DataFrame

In [ ]:
df.head()

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
35,RK20202378,Alfin Chairunisa,alfinchairunisa@gmail.com,6.284456e+08,20.0,2,True,Bontang,Kalimantan Timur,Music,...,73,6,0.83,332000,0,True,True,True,True,True
64,RK20202404,Amadea Octaza,amadeaoctaza@roketmail.com,6.287814e+09,17.0,1,True,Cirebon,Jawa Barat,Hunting,...,98,1,0.76,760000,0,False,False,True,False,False
102,RK20202440,Amalia Azizah Putriana,amaliaazizahputriana@yahoo.com,6.283542e+09,57.0,5,True,Kota Administrasi Jakarta Barat,Jakarta,Videography,...,44,19,0.99,99000,0,True,False,False,False,True
67,RK20202407,Amalia Widi Abelardo,amaliawidiabelardo@outlook.com,6.285341e+09,17.0,1,True,Kota Administrasi Jakarta Selatan,Jakarta,Parkour,...,47,4,0.78,468000,0,False,False,True,True,False
80,RK20202420,Amanda Idayu,amandaidayu@yahoo.com,6.285256e+09,17.0,1,True,Batu,Jawa Timur,Parkour,...,84,16,1.00,600000,0,True,False,True,False,False

In [ ]:
df.to_csv("data_filter_nama.csv", index = False)

In [ ]:
df_nama = df["name"]

In [ ]:
df_nama.head()

0    Fakhrul Fandy Widyaningtias
1            Ferdiansyah Amalina
2              Ficky Rizkyananta
3               Singgih Kharisma
4               Jeremiah Dinanti
Name: name, dtype: object

In [ ]:
new_data = pd.DataFrame(["Agung", "Krishna", "Dwipayana"])

df_nama = pd.concat([df_nama, new_data], ignore_index=True)

In [ ]:
df_nama.head()

                             0 name
0  Fakhrul Fandy Widyaningtias  NaN
1          Ferdiansyah Amalina  NaN
2            Ficky Rizkyananta  NaN
3             Singgih Kharisma  NaN
4             Jeremiah Dinanti  NaN

In [ ]:
df_nama[df_nama["name"]=="Agung"]

       0   name
107  NaN  Agung

SQL -> merge data lama dan data baru ( inner jon )